
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 15px;
}

.btn {
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
}

.display1 {
    color:rgb(73, 71, 71);
    height: 18px;
    border: 1px solid red;
}


.display2 {
    height: 18px;
    border: 1px solid red;
}


.backspace,
.reset {
    width: 35px;
    height: 35px
}